{
    "swagger": "2.0",
    "info": {
        "title": "swaggermrg2",
        "description": "swaggermrg2",
        "version": "v1",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "api.byu.edu",
    "schemes": [
        "https"
    ],
    "basePath": "/domains/swaggermrg2/toplevels",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "x-controller": "toplevel",
            "get": {
                "summary": "swaggermrg2",
                "description": "swaggermrg2",
                "operationId": "gettoplevel",
                "parameters": [
                    {
                        "name": "toplevel_query",
                        "in": "query",
                        "description": "toplevel query parameter.",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/page_start" },
                    { "$ref": "#/parameters/page_size" }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of toplevels",
                        "schema": {
                            "$ref": "#/definitions/toplevels"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "#/x-mock_json/toplevels"
                            }
                        }
                    },
                    "400": { "$ref": "#/responses/400" },
                    "401": { "$ref": "#/responses/401" },
                    "403": { "$ref": "#/responses/403" },
                    "404": {
                        "description": "There is no matching toplevel",
                        "schema": {
                            "$ref": "#/definitions/simple_metadata"
                        }
                    },
                    "409": { "$ref": "#/responses/409" },
                    "default": { "$ref": "#/responses/default" }
                }
            },
            "post": {
                "summary": "toplevel",
                "description": "Creates a toplevel",
                "operationId": "createtoplevel",
                "parameters": [
                    {
                        "name": "toplevel",
                        "in": "body",
                        "description": "New toplevel values",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/toplevel_new"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "toplevel successfully created",
                        "schema": {
                            "$ref": "#/definitions/toplevel"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "#/x-mock_json/toplevels/values/0"
                            }
                        }
                    },
                    "400": { "$ref": "#/responses/400" },
                    "401": { "$ref": "#/responses/401" },
                    "403": { "$ref": "#/responses/403" },
                    "409": { "$ref": "#/responses/409" },
                    "default": { "$ref": "#/responses/default" }
                }
            }
        }
    },
    "definitions": {
        "toplevels": {
            "description": "The toplevel collection",
            "type": "object",
            "required": [
                "values"
            ],
            "properties": {
                "links": {
                    "description": "Hypermedia Links that impact the toplevel collection",
                    "type": "object",
                    "properties": {
                        "toplevels__info": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string",
                                    "enum": [
                                        "self"
                                    ],
                                    "default": "self"
                                },
                                "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "default": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1?page_start=51&page_size=50"
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "GET"
                                    ],
                                    "default": "GET"
                                }
                            }
                        },
                        "toplevels__prev": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string",
                                    "enum": [
                                        "toplevels__prev"
                                    ],
                                    "default": "toplevels__prev"
                                },
                                "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "default": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1?page_start=:page_start&page_size=:page_size"
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "GET"
                                    ],
                                    "default": "GET"
                                }
                            }
                        },
                        "toplevels__next": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string",
                                    "enum": [
                                        "toplevels__next"
                                    ],
                                    "default": "toplevels__next"
                                },
                                "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "default": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1?page_start=:page_start1&page_size=:page_size"
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "GET"
                                    ],
                                    "default": "GET"
                                }
                            }
                        },
                        "toplevels__create": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string",
                                    "enum": [
                                        "toplevels__create"
                                    ],
                                    "default": "toplevels__create"
                                },
                                "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "default": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1"
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "POST"
                                    ],
                                    "default": "POST"
                                }
                            }
                        }
                    }
                },
                "metadata": {
                    "$ref": "#/definitions/top_level_metadata"
                },
                "values": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/toplevel"
                    }
                }
            },
            "example": {
                "$ref": "#/x-mock_json/toplevels"
            }
        },
        "toplevel": {
            "description": "A toplevel",
            "type": "object",
            "properties": {
                "basic": {
                    "$ref": "#/definitions/basic"
                }
            },
            "example": {
                "$ref": "#/x-mock_json/toplevels/values/0"
            }
        },
        "toplevel_new": {
            "description": "Elements required to add a new toplevel",
            "type": "object",
            "properties": {
                "toplevel_id": {
                    "type": "string"
                }
            },
            "example": {
                "$ref": "#/x-mock_json/toplevel_new"
            }
        },
        "basic": {
            "description": "Basic field_set for swaggermrg2 API",
            "type": "object",
            "properties": {
                "links": {
                    "description": "Hypermedia Links that this swaggermrg2",
                    "type": "object",
                    "properties": {
                        "toplevels__info": {
                            "description": "Hypermedia link to retrieve this swaggermrg2",
                            "type": "object",
                            "required": [
                                "rel",
                                "href",
                                "method"
                            ],
                            "properties": {
                                "rel": {
                                    "type": "string",
                                    "enum": [
                                        "self"
                                    ],
                                    "default": "self"
                                },
                                "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "default": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1/:toplevel_id"
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "GET"
                                    ],
                                    "default": "GET"
                                }
                            }
                        },
                        "toplevels__modify": {
                            "description": "Hypermedia link to modify some swaggermrg2",
                            "type": "object",
                            "required": [
                                "rel",
                                "href",
                                "method"
                            ],
                            "properties": {
                                "rel": {
                                    "type": "string",
                                    "default": "toplevels__modify"
                                },
                                "href": {
                                    "type": "string",
                                    "default": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1/111111111"
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "PUT"
                                    ],
                                    "default": "PUT"
                                }
                            }
                        },
                        "toplevels__remove": {
                            "description": "Hypermedia link to remove an swaggermrg2",
                            "type": "object",
                            "required": [
                                "rel",
                                "href",
                                "method"
                            ],
                            "properties": {
                                "rel": {
                                    "type": "string",
                                    "default": "toplevels__remove"
                                },
                                "href": {
                                    "type": "string",
                                    "default": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1/111111111"
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "DELETE"
                                    ],
                                    "default": "DELETE"
                                }
                            }
                        }
                    }
                },
                "metadata": {
                    "$ref": "#/definitions/simple_metadata"
                },
                "toplevel_id": {
                    "$ref": "#/definitions/toplevel_id"
                },
                "created_by_id": {
                    "$ref": "#/definitions/created_by_id"
                },
                "date_time_created": {
                    "$ref": "#/definitions/date_time_created"
                },
                "updated_by_id": {
                    "$ref": "#/definitions/updated_by_id"
                },
                "date_time_updated": {
                    "$ref": "#/definitions/date_time_updated"
                }
            },
            "example": {
                "$ref": "#/x-mock_json/toplevels/values/0/basic"
            }
        },
        "simple_metadata": {
            "type": "object",
            "properties": {
                "cache": {
                    "description": "If data is from live source, value will be null, otherwise it will be date-time of cache",
                    "type": "object",
                    "properties": {
                        "date_time": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                },
                "validation_response": {
                    "$ref": "#/definitions/validation_response"
                }
            }
        },
        "sub_level_metadata": {
            "allOf": [
                {
                    "type": "object",
                    "properties": {
                        "collection_size": {
                            "type": "integer",
                            "minimum": 0
                        },
                        "page_start": {
                            "type": "integer",
                            "minimum": 0
                        },
                        "page_end": {
                            "type": "integer",
                            "minimum": 0
                        },
                        "page_size": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "default_page_size": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "max_page_size": {
                            "type": "integer"
                        }
                    }
                },
                {
                    "$ref": "#/definitions/simple_metadata"
                }
            ]
        },
        "top_level_metadata": {
            "allOf": [
                {
                    "type": "object",
                    "properties": {
                        "field_sets_returned": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "basic"
                                ]
                            }
                        },
                        "field_sets_available": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "basic"
                                ]
                            }
                        },
                        "field_sets_default": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "basic"
                                ]
                            }
                        },
                        "contexts_available": {
                            "description": "Contexts available for the swaggermrg2 resource",
                            "type": "object",
                            "properties": {
                                "all": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "enum": [
                                            "basic"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                {
                    "$ref": "#/definitions/sub_level_metadata"
                }
            ]
        },
        "validation_response": {
            "type": "object",
            "required": [
                "return_code",
                "response"
            ],
            "properties": {
                "return_code": {
                    "type": "integer"
                },
                "response": {
                    "type": "string"
                }
            }
        },
        "toplevel_id": {
            "description": "id",
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "maxLength": 9
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ],
                    "default": "system"
                },
                "key": {
                    "type": "boolean"
                },
                "display_label": {
                    "type": "string",
                    "default": "toplevel ID"
                }
            },
            "example": { "$ref": "#/x-mock_json/toplevels/values/0/basic/toplevel_id" }
        },
        "created_by_id": {
            "description": "Who created the toplevel?",
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ],
                    "default": "system"
                },
                "description": {
                    "type": "string"
                },
                "display_label": {
                    "type": "string",
                    "default": "toplevel created by?"
                }
            },
            "example": { "$ref": "#/x-mock_json/toplevels/values/0/basic/created_by_id" }
        },
        "date_time_created": {
            "description": "When was the toplevel created?",
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "format": "date-time"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ],
                    "default": "system"
                },
                "display_label": {
                    "type": "string",
                    "default": "toplevel created when?"
                }
            },
            "example": { "$ref": "#/x-mock_json/toplevels/values/0/basic/date_time_created" }
        },
        "date_time_updated": {
            "description": "When was the toplevel's data last updated?",
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "format": "date-time"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ],
                    "default": "system"
                },
                "display_label": {
                    "type": "string",
                    "default": "toplevel last updated when?"
                }
            },
            "example": { "$ref": "#/x-mock_json/toplevels/values/0/basic/date_time_updated" }
        },
        "updated_by_id": {
            "description": "Who last updated the toplevel's data?",
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ],
                    "default": "system"
                },
                "display_label": {
                    "type": "string",
                    "default": "toplevel last updated by?"
                }
            },
            "example": { "$ref": "#/x-mock_json/toplevels/values/0/basic/updated_by_id" }
        }
    },
    "parameters": {
        "page_start": {
            "name": "page_start",
            "in": "query",
            "description": "Skip into a large collection to this item",
            "required": false,
            "type": "string"
        },
        "page_size": {
            "name": "page_size",
            "in": "query",
            "description": "Return this many items of a large collection",
            "required": false,
            "type": "string"
        }
    },
    "responses": {
        "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
                "$ref": "#/definitions/simple_metadata"
            }
        },
        "401": {
            "description": "Authentication required to access data",
            "schema": {
                "$ref": "#/definitions/simple_metadata"
            }
        },
        "403": {
            "description": "Access denied to protected data",
            "schema": {
                "$ref": "#/definitions/simple_metadata"
            }
        },
        "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
                "$ref": "#/definitions/simple_metadata"
            }
        },
        "default": {
            "description": "Unexpected error",
            "schema": {
                "$ref": "#/definitions/simple_metadata"
            }
        }
    },
    "x-mock_json": {
        "toplevels": {
            "links": {
                "toplevels__info": {
                    "rel": "self",
                    "href": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1?page_start=51&page_size=50",
                    "method": "GET"
                },
                "toplevels__prev": {
                    "rel": "toplevels__prev",
                    "href": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1?page_start=1&page_size=50",
                    "method": "GET"
                },
                "toplevels__next": {
                    "rel": "toplevels__next",
                    "href": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1?page_start=101&page_size=50",
                    "method": "GET"
                },
                "toplevels__create": {
                    "rel": "toplevels__create",
                    "href": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1",
                    "method": "POST"
                }
            },
            "metadata": {
                "field_sets_returned": [
                    "basic"
                ],
                "field_sets_available": [
                    "basic"
                ],
                "contexts_available": {
                    "all": [
                        "basic"
                    ]
                },
                "collection_size": 1,
                "page_start": 1,
                "page_end": 1,
                "page_size": 1,
                "default_page_size": 50,
                "max_page_size": 1000,
                "cache": {
                    "date_time": "2014-05-11T13:45:53.200Z"
                },
                "validation_response": {
                    "return_code": 200,
                    "response": "Retrieve Successful"
                }
            },
            "values": [
                {
                    "basic": {
                        "links": {
                            "toplevels__info": {
                                "rel": "self",
                                "href": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1/111111111",
                                "method": "GET"
                            },
                            "toplevels__modify": {
                                "rel": "toplevels__modify",
                                "href": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1/111111111",
                                "method": "PUT"
                            },
                            "toplevels__remove": {
                                "rel": "toplevels__remove",
                                "href": "https://api.byu.edu/domains/swaggermrg2/toplevels/v1/111111111",
                                "method": "DELETE"
                            }
                        },
                        "metadata": {
                            "cache": {
                                "date_time": "2014-05-11T13:45:53.200Z"
                            },
                            "validation_response": {
                                "return_code": 200,
                                "response": "Successful"
                            }
                        },
                        "toplevel_id": {
                            "value": "111111111",
                            "api_type": "system",
                            "display_label": "toplevel ID"
                        },
                        "created_by_id": {
                            "value": "111111111",
                            "api_type": "system",
                            "description": "Bugs Bunny Ithaca",
                            "display_label": "toplevel created by?"
                        },
                        "date_time_created": {
                            "value": "2014-05-11T13:45:53.200Z",
                            "api_type": "system",
                            "display_label": "toplevel created when?"
                        },
                        "updated_by_id": {
                            "value": "111111111",
                            "api_type": "system",
                            "description": "Bugs Bunny Ithaca",
                            "display_label": "toplevel last updated by?"
                        },
                        "date_time_updated": {
                            "value": "2014-05-11T13:45:53.200Z",
                            "api_type": "system",
                            "display_label": "toplevel last updated when?"
                        }
                    }
                }
            ]
        },
        "toplevel_new": {
            "toplevel_id": "111111111"
        }
    }
}
